apiVersion: v1
kind: Service
metadata:
  name: core-gateway
  labels:
    app: core-gateway
spec:
  # comment or delete the following line if you want to use a LoadBalancer
  type: NodePort
  # if your cluster supports it, uncomment the following to automatically create
  # an external load-balanced IP for the frontend service.
  # type: LoadBalancer
  ports:
    - port: 8080
  selector:
    app: core-gateway
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: core-gateway
spec:
  selector:
    matchLabels:
      app: core-gateway
  replicas: 1
  template:
    metadata:
      labels:
        app: core-gateway
    spec:
      containers:
        - name: core-gateway
          image: "openhybridweb/core-gateway:latest"
          livenessProbe:
            httpGet:
              path: "/_api/health/live"
              port: 8080
            initialDelaySeconds: 5
            failureThreshold: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: "/_api/health/ready"
              port: 8080
            initialDelaySeconds: 5
            failureThreshold: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          ports:
            - containerPort: 8080
          env:
            - name: APP_GATEWAY_ROUTER_CONFIGPATH
              value: "/app/config/core-gateway-config.yaml"
          volumeMounts:
            - mountPath: "/app/config/"
              name: secret-config
              readOnly: true
      volumes:
        - name: secret-config
          secret:
            secretName: core-gateway-config